<nav>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="contactos">Contactos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="users">Usuarios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="tareas">Tareas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" routerLink="about">Acerca de</a>
        </li>
    </ul>
</nav>