<h4>Formulario DataDriven o Reactivo</h4>
<form [formGroup]="form" (submit)="onSubmit($event)">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" id="nombre"
      formControlName='nombre'>
      <small id="helpId" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" class="form-control" id="apellidos" 
        formControlName="apellidos">
        <small id="helpId" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="email">Correo</label>
      <input type="email" class="form-control" id="email" 
      formControlName="email">
      <small id="emailHelpId" class="form-text text-muted"></small>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" id="isOk" 
        formControlName="isOk">
        Ests de acuerdo con ....
      </label>
    </div>
    <fieldset >
      <legend>Datos del curso</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" id="tm" 
          value="Mañana" formControlName="turno">
          Mañana
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" id="tt" 
          value="Tarde" formControlName="turno">
          Tarde
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" id="tn" 
          value="Noche" formControlName="turno">
          Noche
        </label>
      </div>
      <div class="form-group">
        <label for="curso">Selecciona el tema</label>
        <select class="form-control" id="curso" formControlName="curso">
          <option>Angular</option>
          <option>React</option>
          <option>NodeJS</option>
        </select>
      </div>
    </fieldset>
  </form>
  <div>
    {{form.value | json}}
  </div>